*~
/simpleauth_cookie.dat
/HumbleBundleLibrary
/CalibreLibrary
/CalibreLibraryComics
/CalibreLibraryRPG
/humble_bundle_to_calibre_done.dat
/humble_bundle_to_calibre_err.dat
/hbd
/calibre
/calibredb
/rmlint/
/rmlint.*
